@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    font-size: 15px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%);
    position: relative;
}

.body-background{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    background: url(/images/pattern-background-desktop.svg) repeat;
    background-size: contain;
    z-index: -1;
}

.container {
    width: 400px;
    height: 640px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(31, 47, 86, 0.068);
}

.img-component {
    width: 100%;
    height: 235px;
    background: url(./images/illustration-hero.svg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.text-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin-top: 8%;
    margin-bottom: 4%;
    font-weight: 900;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.subtitle {
    margin-bottom: 4%;
    font-size: 14px;
    font-weight: 200;
    margin-left: 50px;
    margin-right: 50px;
    color: hsl(224, 23%, 55%);
}

.plan-section {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: hsl(225, 100%, 98%);
    border-radius: 12px;
}

.left-section {
    display: flex;
    width: 60%;
    align-items: center;

}

.music-icon {
    margin-right: 15px;
    position: relative;
    margin-left: 20px;
}


.payment-title {
    line-height: 1.6;
}

.plan {
    font-weight: 900;
}

.payment {
    color: gray;
}

.right-section {
    margin-right: 20px;
}

.right-section p {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
}

.button-div {
    width: 100%;
}

.pay-button {
    width: 70%;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    height: 45px;
    border-radius: 10px;
    margin-top: 28px;
    font-weight: 700;
    box-shadow: 0px 10px 10px 10px rgba(31, 47, 86, 0.048);
}

.button-div p {
    margin-top: 28px;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
}

@media only screen and (max-width: 500px) and (min-width: 330px) {
  .container {
    width: 348px;
    overflow: hidden;
    margin: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 610px;
  }
  .plan-section {
    width: 80%;
  }
  .img-component {
    background-size: contain;
    height: 170px;
  }
  .body-background {
    background: url(/images/pattern-background-desktop.svg) no-repeat;
    margin-top: -200px;
    background-size: cover;
  }
  .plan, .payment{
    font-size: 13px;
  }
}